header{
    background-color: blue !important;
    padding: 3% !important;
    color: azure !important;
    text-align: center !important;
}
.img-react{
    width: 80% !important;
}
.div-item{
    text-align: center;
}
footer{
    
    background-color: blue !important;
    padding: 2% !important;
    color: azure !important;
    text-align: center !important;
}
.sec-conteudo{
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 5% !important;
    margin-bottom: 10% !important;
    justify-content: center !important;
}